.soundActions{
    display:inline-block!important;
}
.sc_download{
    display:inline-block;
    text-align:center;
    padding:2px 4px;
    height:16px;
    border-radius: 4px;
    color:#FFF;
    background-color:#ff9d02;
}